@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700;800&family=Noto+Sans+KR:wght@500&display=swap')
	;

* {
	font-family: 'Noto Sans KR', sans-serif;
}

body {
	background-color: rgb(245, 243, 239);
}

.navbar {
	background-color: white;
}

.row {
	margin: 20px auto;
	width: 90%;
	/* background-color: rebeccapurple; */
}

form {
	background-color: whitesmoke;
}

#side a {
	background-color: #586282;
	color: whitesmoke;
}

button[type="submit"] {
	background: #586282;
	color: white;
	padding: 14px 20px;
	margin: 20px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

.msgbtn {
	background: #586282;
	color: white;
	border: none;
}

msgbtn:hover {
	background: #CFB8A1;
	color: #586282;
	border: none;
}

button:hover {
	color: #fff;
	background: linear-gradient(-45deg, #4F463E, #CFB8A1);
	background-size: 500% 500%;
	animation: AnimationName 10s ease infinite;
}

.starimg {
	height: 20px;
	width: 20px;
}

.nearbyinfo .btn {
	width: 50%;
	color: white;
	background-color: #CFB8A1;
}

.search-container {
	display: flex;
	justify-content: flex-end;/* 요소 오른쪽정렬 */
	align-items: center;/* 요소 세로방향 가운데정렬 */
}

#select{
	width: 15%;
	height: 40px;
	margin-right: 5px;
}

#search{
	height: 40px;
	border: 0;
	outline: 0;
}

#searchBtn {
	width: 40px;
	height: 40px;
	line-height: 0px; /* 글씨 세로정렬 */
	padding : 0 0;
	border-radius: 2px;
}

.ok{
	background: #586282;
	color: #fff;
}
.ok:hover{
	color: #fff; 
	border-color: #CFB8A1;
}

.cancel{
	border-color: #CFA297;
}
.cancel:hover{
	color: #fff;
	background: linear-gradient(-45deg, #CFB8A1, #CFA297);
	background-size: 500% 500%;
	animation: AnimationName 10s ease infinite;
}

.modal-header{
	background-color: #CFB8A1;
}

#wantleave {
	color : #B5A18D;
	float: right;
	font-size : 15px;
	margin-top: 10px;
}

#wantleave:hover{
	text-decoration: underline;
	color: #8C9CCF;
	cursor:pointer
}