@charset "UTF-8";
.banner{
	color : #FFF;
	padding-top: 70px;
	padding-bottom: 70px;
	background-image: url("../img/notice_banner.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

button {
	background: #586282;
	color: white;
	padding: 14px 20px;
	margin: 20px 10px;
	cursor: pointer;
}

button:hover {
	color: #fff;
	background: linear-gradient(-45deg, #4F463E, #CFB8A1);
	background-size: 500% 500%;
	animation: AnimationName 10s ease infinite;
}

.content{
	width: 100%;
	margin-top: 50px;
	border: 1px solid #4F463E;
	border-radius: 10px;
	padding-top : 35px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	min-height: 500px;
}

table{
	width: 100%;
	text-align: left;
	padding: 20px;
}

#subject{
	font-size: 30px;
	font-weight: 500;
}

#date{
	color: #DBC3AB;
	border-bottom: 1px solid #4F463E;
}

#content{
	padding-top : 20px;
}

.buttonDiv{
	display: flex;
	justify-content: center;/* 요소 오른쪽정렬 */
	align-items: center;/* 요소 세로방향 가운데정렬 */
}